@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.top-header {
	width: 600px;
	padding: 40px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 4%;
	margin-bottom: 4%;
	border-radius: 10px;
}
.top-header img {
	height: 200px;
	width: 290px;
	margin-right: 5px;
}
.header {
	text-align: center;
}
.m {
	margin-top: 30px;
}
.header a {
	z-index: 999;
	color: white;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	border-radius: 4px;
	background: none;
	border-radius: 5px;
}
.header a:hover {
	background-color: #bd9d86;
	color: black;
	transition: all 1s;
	text-decoration: none;
}
.header a.active {
	background-color: #809dad;
	color: white;
}
.this-content {
	padding-top: 1%;
	text-align: justify;
}
.title-content {
	text-align: center;
}
.bottom {
	margin-top: -10px;
}
.bottom img {
	height: 100px;
	width: 140px;
}
.bottom p {
	/* margin-top: -10px; */
	margin: 5px;
	font-size: 10pt;
}
.garis {
	background-color: white;
}

.h5 {
	font-family: "Century Gothic", sans-serif;
}

.content-list {
	margin: 20px;
}

.content-item {
	color: white;
	text-decoration: none;
	margin: 10px;
}
.content-item:hover {
	background-color: #bd9d86;
	color: #c7c7c7;
	transition: all 1s;
	text-decoration: none;
}
.this-content {
	padding-top: 1%;
	text-align: justify;
}
.title-content {
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
}
.sub-title-content {
	text-align: center;
	font-size: 15px;
	font-style: italic;
}
.date-title-content {
	text-align: center;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 20px;
}
.bottom {
	margin-top: -10px;
}
.bottom img {
	height: 100px;
	width: 140px;
}
.bottom p {
	/* margin-top: -10px; */
	margin: 5px;
	font-size: 10pt;
}
